@model InstallmentModel
@{
    var installments = ViewBag.Installments as List<Installment>;
}

<div class="price-form">
    <div class="text-center">
        <h2>Prim Bilgileri</h2>
    </div>
    <form action="" method="post" id="installmentForm">
        <div class="form-row row-center">
            <div class="form-group col-md-12 text-right">
                <label>Teklif No: </label>
                <span id="orderNo">#@(Model.OfferNumber != null ? Model.OfferNumber : "")</span>
            </div>
        </div>
        <div class="form-row row-center">
            <div class="form-group col-md-4 p-0">
                <label>Ödeme Planı</label>
                <select class="form-control" name="InstallmentId" onchange="javascript:selectInstallment(this)">
                    <option>Seçiniz</option>
                    @if (installments != null)
                    {
                        foreach (var installment in installments.OrderBy(a => a.InstallmentCount))
                        {
                            <option value="@(installment.Id)"> @(installment.Name)</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row row-center">
            <table class="table table-hover table-bordered" id="installmentTable">
                <thead>
                    <tr>
                        <th scope="col">Taksit Adı</th>
                        <th scope="col">Taksit Tutarı</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                        <td>6.Taksit Ödemesi</td>
                    </tr>*@
                    @*<tr>
                        <td></td>
                        <td><b>Toplam Prim: @(string.Format("{0:N2} TL", Model.TotalPrice))</b></td>
                    </tr>*@
                </tbody>
            </table>
        </div>
        <div class="btn-div mt-2">
            <button type="submit" class="btn"><i class="fas fa-arrow-right"></i> İLERİ</button>
        </div>
    </form>
</div>