@{ 
    var policyNumber = ViewBag.PolicyNumber as string;
}
<div class="price-form">
    <div class="after-payment-div">
        <img class="img-fluid" src="/img/after-payment.png" />

        <h3>Poliçeniz Başarıyla Oluşturuldu.</h3>
        <p>
            Poliçe Numarası : <b>#@(policyNumber)</b>
        </p>
        <p>
            Poliçenize ait teminatların geçerli olması için anlaşmalı olduğumuz hastanaleri kullanmayı unutmayınız.
        </p>

        <p>
            Sağlıklı günler dileriz.
        </p>
        <div class="row after-payment-btn">
            <div class="col-md-12">
                <div class="btn-div">
                    <a href="/" class="btn"><i class="fas fa-arrow-left"></i> ANA SAYFAYA DÖN</a>
                </div>
            </div>
        </div>
    </div>
</div>